services:
  postgres:
    image: postgres:17-alpine
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres

  redis:
    image: valkey/valkey:8-alpine
    restart: unless-stopped
    ports:
      - 6379:6379
    command: valkey-server --save 60 1 --loglevel warning
